
.profilecontent
{

  display: flex;
  margin-right: 10vw;
  margin-left: 10vw;
  margin-top: 80px;
  width: 80vw;
  /* height: 60vh; */
  min-height: 75vh;
}
.listt
{
 
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  /* background-color: black; */
}
.dett
{
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: blue; */
  flex: 2;
  height: 34vh;
 
}
.ava
{
  display: flex;
  /* align-items: center; */
  justify-content: center;
  
}
h4{
  margin: 0;
  padding: 0;
}
.small_det
{
  margin-top: 20px;
  color: #e4eef1;
  /* display: flex; */
  text-align: center;
  max-height: 100px;
  margin-bottom: 30px;
}
.u_name
{
  margin-bottom: 10px;
}
.cont 
{
  margin-left: 40px;
  color: #edf3f6;
  flex-direction: column;
  display: flex;
  /* width : 100%; */
  
  
}
.i 
{
  cursor: pointer;
  width: 100%;
  padding: 10px;
  border : 0px solid rgb(244, 241, 241);
  text-align: center;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
}
.headprofile
{
  padding-top: 5px;
  text-align: center;
  color: #ebf1f4;
  font-size: x-large;   
  
}
.contentpro
{
  display: flex;
  padding-top: 10px;
}
.stcol
{
  flex: 1;
  display: flex;
  flex-direction: column;
  
}
.ndcol
{
  flex: 1;
  display: flex;
  flex-direction: column;
}
.buttonpro
{
  /* background-color: var(--Secondary-light); */
}
.box2
{
  margin-top: 200px;
  
}